/*************************************
**************************************
These are the styles for
the button section
**************************************
**************************************/
$lab-icons: url('/static/images/icons-lab.png');

//@include button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius);
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn {
  @include transition(all 0.2s ease-out 0s);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  text-decoration: none;
  border: 0;
  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16), 0 1px 7px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16), 0 1px 7px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16), 0 1px 7px 0 rgba(0, 0, 0, 0.12);
  }
}


/* button*/

.btn {
  @include border-radius(4px);
  @include transition(all 0.2s ease-in-out);
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  &:focus,
  &:active:focus,
  &.active:focus,
  &.focus,
  &:active.focus,
  &.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:hover,
  &:focus,
  &.focus {
    @include transition(all 0.2s ease-in-out);
    color: #333;
    text-decoration: none;
  }
  &:active,
  &.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  &.disabled,
  [disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
  }
}

.btn-close {
  @include border-radius(2px);
  @include box-shadow(none);
  font-size: 0.875rem;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  &:hover,
  &:focus {
    @include box-shadow(none);
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }
}

.btn-login,
.btn-logout {
  @include border-radius(2px);
  @include box-shadow(none);
  padding: 9px 20px;
  font-size: 1rem;
  &:hover,
  &:focus {
    @include box-shadow(none);
    outline: 0;
  }
}

.btn-login {
  color: #fff;
  background: #1b8ff2;
  border: 1px solid #1b8ff2;
  &:hover,
  &:focus {
    background: #3aa4ff;
    border: 1px solid #3aa4ff;
    color: #fff;
    outline: 0;
  }
}

.btn-logout {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  &:hover,
  &:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #d9d7d7;
  }
}

.btn-unlock,
.btn-addto,
.btn-share {
  @include border-radius(3px);
  padding: 10px 20px;
  font-size: 1rem;
  background: #51c04e;
  border: 1px solid #51c04e;
  color: #fff;
  img {
    margin-top: 5px;
    max-width: 85px;
    vertical-align: top;
  }
  &:hover,
  &:focus {
    color: #fff;
    background: #5ddb5a;
    border: 1px solid #5ddb5a;
  }
}

.btn-addto {
  margin-left: 20px;
}

.btn-unlock,
.btn-addto {
  position: relative;
  margin-left: 20px;
  overflow: visible;
  &::before,
  &::after {
    content: "";
    @include border-radius(3px);
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    bottom: -7px;
    background-color: #5ddb5a;
    opacity: 0.3;
    -webkit-animation: ripple 3.0s ease-out infinite;
    -moz-animation: ripple 3.0s ease-out infinite;
    animation: ripple 3.0s ease-out infinite;
    z-index: -1;
  }
  &::after {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  &:hover,
  &:focus {
    outline: 0;
  }
}

.btn-effect {
  position: relative;
  overflow: visible;
  margin-left: 20px;
  &::before,
  &::after {
    content: "";
    @include border-radius(2px);
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: #1b8ff2;
    opacity: 0.3;
    -webkit-animation: ripple 3.0s ease-out infinite;
    -moz-animation: ripple 3.0s ease-out infinite;
    animation: ripple 3.0s ease-out infinite;
    z-index: -1;
  }
  &::after {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  &:hover,
  &:focus {
    outline: 0;
    &::before,
    &::after {
      @include opacity(0);
      @include transform(scale(1));
      visibility: hidden;
      animation-play-state: paused;
    }
  }
}

.btn-share {
  margin-left: 14px;
}

.btn-google,
.btn-internal-lab,
.btn-facebook {
  color: #fff !important;
  padding: 0.6875rem 0.75rem 0.625rem;
  text-transform: uppercase;
  text-align: center;
}

.btn-facebook {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff !important;
  background: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff;
    background: #30487b;
    border-color: rgba(0, 0, 0, 0.2)
  }
  &:active,
  &.active {
    background-image: none
  }
  &.disabled,
  [disabled],
  &.disabled:hover,
  [disabled]:hover,
  &.disabled:focus,
  [disabled]:focus,
  &.disabled:active,
  [disabled]:active,
  &.disabled.active,
  [disabled].active,
  {
    background: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
  }
}

.btn-google {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff !important;
  background: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff !important;
    background: #ca3523;
    border-color: rgba(0, 0, 0, 0.2)
  }
  &:active,
  .active {
    background-image: none
  }
  &.disabled,
  [disabled],
  &.disabled:hover,
  [disabled]:hover,
  &.disabled:focus,
  [disabled]:focus,
  &.disabled:active,
  [disabled]:active,
  &.disabled.active,
  [disabled].active,
  {
    background: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2)
  }
}

.btn-internal-lab {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff !important;
  background: #0a6b53;
  border-color: rgba(0, 0, 0, 0.2);
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff !important;
    background: #0abb53;
    border-color: rgba(0, 0, 0, 0.2)
  }
  &:active,
  .active {
    background-image: none
  }
  &.disabled,
  [disabled],
  &.disabled:hover,
  [disabled]:hover,
  &.disabled:focus,
  [disabled]:focus,
  &.disabled:active,
  [disabled]:active,
  &.disabled.active,
  [disabled].active,
  {
    background: #0a6b53;
    border-color: rgba(0, 0, 0, 0.2)
  }
}

.icon-internal-lab {
  height: 33px;
  background-color: #fff;
  background: $lab-icons no-repeat center;
}

.btn-type-share {
  @include box-shadow(0 0 1px 1px rgba(0, 0, 0, 0.15));
  margin: 10px 4px;
  font-size: 0.75rem;
  display: inline-block;
  cursor: pointer;
  font-family: 'Orbitron-Light';
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .label-name,
  .type-tag {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.42857143;
  }
  .label-name {
    @include border-radius(2px 0 0 2px);
    @include transition(all 0.2s ease-in-out);
    padding: 5px 12px;
    min-width: 42px;
    color: #000;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
  }
  .type-tag {
    @include border-radius(0 2px 2px 0);
    position: relative;
    padding: 5px 6px;
    color: #fff;
    &::before {
      @include border-radius(50%);
      @include abs-pos ($top: 50%, $right: 0, $bottom: 0, $left: -4px);
      margin-top: -4px;
      content: "";
      width: 8px;
      height: 8px;
    }
  }
  &.btn-type-url {
    .label-name {
      border: 1px solid #d2d2d2;
      background: #fbfbfb;
      background: -webkit-linear-gradient(#fbfbfb, #f1f1f1);
      background: -o-linear-gradient(#fbfbfb, #f1f1f1);
      background: -moz-linear-gradient(#fbfbfb, #f1f1f1);
      background: linear-gradient(#fbfbfb, #f1f1f1);
    }
    .type-tag {
      border: 1px solid #3a90c8;
      background-color: #5fa7d7;
      &::before {
        @include box-shadow(-1px 0 0px #3a90c8);
        border-left: 1px solid #3a90c8;
        background-color: #5fa7d7;
      }
    }
  }
  &.btn-type-topic {
    .label-name {
      border: 1px solid #d2d2d2;
      background: #fbfbfb;
      background: -webkit-linear-gradient(#fbfbfb, #f1f1f1);
      background: -o-linear-gradient(#fbfbfb, #f1f1f1);
      background: -moz-linear-gradient(#fbfbfb, #f1f1f1);
      background: linear-gradient(#fbfbfb, #f1f1f1);
    }
    .type-tag {
      border: 1px solid #c95b1d;
      background-color: #e26a24;
      &::before {
        @include box-shadow(-1px 0 0px #c95b1d);
        border-left: 1px solid #c95b1d;
        background-color: #e26a24;
      }
    }
  }
  &.btn-type-all {
    .label-name {
      border: 1px solid #d2d2d2;
      background: #fbfbfb;
      background: -webkit-linear-gradient(#fbfbfb, #f1f1f1);
      background: -o-linear-gradient(#fbfbfb, #f1f1f1);
      background: -moz-linear-gradient(#fbfbfb, #f1f1f1);
      background: linear-gradient(#fbfbfb, #f1f1f1);
    }
    .type-tag {
      border: 1px solid #569732;
      background-color: #70c143;
      &::before {
        @include box-shadow(-1px 0 0px #569732);
        border-left: 1px solid #569732;
        background-color: #70c143;
      }
    }
  }
}

a.btn-unshare {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #11c759;
  cursor: pointer;
  user-select: none;
  background-image: none;
  &:focus,
  &:active:focus,
  {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    text-decoration: none;
    color: #018e39;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    transition: all 0.2s ease-in-out;
  }
}

.btn-share-detail {
  padding: 8px 12px;
  min-width: 133px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #0d8aee;
  background-color: #2196f3;
  text-align: center;
  .fa {
    font-size: 19px;
  }
  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
    border-color: #0364b1;
    background-color: #046abc;
  }
}

a.btn-unfollow,
.btn-unfollow {
  padding: 6px 12px;
  background-color: #f9fafa;
  border: 1px solid #b5bdc4;
  font-size: 0.8125rem;
  &,
  &:hover,
  &:focus {
    color: #7f8893;
  }
  &:hover,
  &:focus {
    outline: 0;
    background-color: #d1d9d9;
    border-color: #939fa9;
    color: #656d77;
  }
}

.btn-related {
  padding: 6px 12px;
  background-color: #51c04e;
  border: 1px solid #51c04e;
  font-size: 0.8125rem;
  &,
  &:hover,
  &:focus {
    color: #fff;
  }
  &:hover,
  &:focus {
    outline: 0;
    background-color: #5ddb5a;
    border: 1px solid #5ddb5a;
  }
}

.btn-install {
  @include border-radius(4px);
  padding: 12px 25px;
  font-size: 1rem;
  background: #51c04e;
  border: 1px solid #51c04e;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  &:hover,
  &:focus {
    outline: 0;
    color: #fff;
    background: #5ddb5a;
    border: 1px solid #5ddb5a;
    text-decoration: none
  }
}


/*button social*/

.block-button {
  @include clearfix();
  .btn-social {
    position: relative;
    padding-left: 56px;
    padding-right: 15px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    >:first-child {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 42px;
      line-height: 39px;
      font-size: 1.6em;
      text-align: center;
      border-right: 1px solid rgba(0, 0, 0, 0.2)
    }
  }
  .btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    &:focus,
    &:hover,
    &:active {
      color: #fff;
      background-color: #2d4373;
      border-color: rgba(0, 0, 0, 0.2);
    }
  }
  .btn-facebook:active,
  .btn-facebook.active,
  .open>.dropdown-toggle.btn-facebook {
    background-image: none
  }
  .btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    &:focus,
    &:hover,
    &:active {
      color: #fff;
      background-color: #c23321;
      border-color: rgba(0, 0, 0, 0.2);
    }
  }
  .btn-google:active,
  .btn-google.active,
  .open>.dropdown-toggle.btn-google {
    background-image: none
  }
  &:last-child {
    margin-top: 15px;
  }
}

.btn-search {
  padding: 6px 12px;
  font-size: 1rem;
  background: #00b5ad;
  border: 1px solid #00b5ad;
  color: #fff;
  img {
    margin-top: 5px;
    max-width: 85px;
    vertical-align: top;
  }
  &:hover,
  &:focus {
    color: #fff;
    background: #009c95;
    border: 1px solid #009c95;
  }
}

.btn-navicon {
  padding: 6px 12px;
  font-size: 1rem;
  background: #fff;
  border: 1px solid #ccc;
  color: #404040;
  img {
    margin-top: 5px;
    max-width: 85px;
    vertical-align: top;
  }
  &:hover,
  &:focus {
    color: #2db7f5;
    background: #fff;
    border: 1px solid #2db7f5;
  }
  @media (max-width: 767px) {
    float: right;
  }
}

.btn-search,
.btn-navicon {
  margin-top: 2px;
  .fa {
    margin-top: 3px;
    font-size: 1rem;
    vertical-align: top;
  }
  .fa-link {
    margin-top: 4px;
  }
}

.btn-back {
  @include border-radius(0 50% 50% 0);
  position: fixed;
  left: 0;
  top: 85px;
  padding: 3px 10px 5px 3px;
  z-index: 9999;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background: rgba(0, 0, 0, .65);
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  .fa {
    margin-top: 7px;
    vertical-align: top;
  }
  &:hover,
  &:focus {
    color: #fff;
    background: rgba(0, 0, 0, .45);
  }
  @media (max-width: 490px) {
    border: 1px solid #ccc;
    top: 79px;
  }
}

.btn-copy {
  @include border-radius(4px);
  padding: 6px 12px;
  z-index: 2;
  display: inline-block;
  font-size: 0.875rem;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  &:hover,
  &:focus {
    color: #333;
    background: #e6e6e6;
    border-color: #bdbdbd;
  }
  &,
  &:hover,
  &:focus {
    @include transition(all 0.2s ease-in-out);
  }
}

.share-button {
  margin-top: 3px;
  padding: 6px 12px;
  float: left;
  color: #fff;
  border-color: #11c759;
  background-color: #11c759;
  &:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border-color: #2de475;
    background-color: #2de475;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    @include transition(all 0.2s ease-in-out);
  }
}

.share-now {
  @include clearfix();
  text-align: center;
  .share-button {
    float: none !important;
  }
}


/*-----btn for tag a link-----*/

button.btn-link {
  border: 0;
  padding: 0;
}


/*-----verical-slow-----*/

@-webkit-keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  50%,
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  50%,
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
