/*************************************
**************************************
These are the styles for
the footer section
**************************************
**************************************/

.footer-area {
  @include abs-pos ($top: auto, $right: 0, $bottom: 0, $left: 0);
  z-index: 100;
  width: 100%;
  min-height: 68px;
  footer.neal-footer {
    margin-top: 0;
    padding: 0.625rem 0;
    .neal-footer-copyright,
    address {
      margin: 3px 0 0;
      img{
        margin-right: 7px;
        max-height: 18px;
        vertical-align: top;
      }
    }
    .neal-footer-copyright {
      margin-top: 5px;
    }
    .neal-footer-social {
      list-style: none;
      flex-direction: row;
      .neal-footer-social-icon {
        margin-left: 0.625rem;
        @media (max-width: 390px) {
          margin-left: 0;
        }
      }
      @media (max-width: 390px) {
        margin-top: 5px;
        float: none !important;
        justify-content: flex-end;
      }
    }
    .container {
      @media (max-width: 590px) {
        width: 100%;
      }
    }
    .row {
      .col-xs-12.col-md-4 {
        @media (max-width: 750px) {
          width: 50%;
        }
        &:nth-child(2) {
          @media (max-width: 750px) {
            display: none;
          }
        }
      }
    }
  }
}
