/*************************************
**************************************
These are the styles for
the form section
**************************************
**************************************/

// Regular radio
.radio__regular {
  .radio__regular__input {
    opacity: 0;
    position: absolute;
    + .radio__regular__label {
      position: relative;
      padding: 0 20px 0 40px;
      margin-bottom: 0;
      font-weight: normal;
      display: block;
      font-size: 15px;
      min-height: 33px;
      line-height: 30px;
      cursor: pointer;
      outline: 0;
      color: #222;
      .meta {
        font-size: 75%;
        color: gray;
        strong {
          color: black;
          font-size: 110%;
        }
      }
      .labs {
        display: inline-block;
        .icons-labs {
          margin-left: 9px;
          display: inline-block;
          vertical-align: middle;
        }
        .icons-search {
          margin-left: 9px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      &::before {
        @include abs-pos ($top: 0.1rem, $right: auto, $bottom: auto, $left: 0);
        @include border-radius(50%);
        @include transition(all .3s ease);
        content: '';
        background: #fff;
        border: 0.2rem solid #ccc;
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        vertical-align: middle;
        cursor: pointer;
        text-align: center;
      }
    }
    &:checked + .radio__regular__label::before {
      @include scale(1);
      @include transition(all .3s ease);
      background: #2db7f5;
      box-shadow: inset 0 0 0 0.3rem #fff;
    }
    &:focus + .radio__regular__label::before {
      outline: 0;
      border-color: #ccc;
    }
    + .radio__regular__label:empty::before {
      margin-right: 0;
    }
  }
}
