/*************************************
**************************************
These are the styles for
the header section
**************************************
**************************************/

.neal-navbar-wrapper {
  @include opacity(1);
  @include transition(all 1s ease);
  @include transform(translate3d(0, 0, 0));
  visibility: visible;
  position: relative;
  z-index: 1001;
  .header-nav {
    padding: 0;
    height: 72px;
    background-color: #fff;
    border-bottom: 1px solid #e1e5eb;
    .container {
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .navbar-brand {
      padding: 0;
      float: left;
      .logo {
        padding: 20px 0 0;
        div:first-child {
          margin-left: 0;
        }
      }
      &.hidden-sm-down {
        @media (max-width: 767px) {
          display: block !important;
        }
      }
    }
    .dropdown-menu {
      margin-top: 0;
      min-width: 180px;
      .topic-name {
        display: block;
        text-align: left;
        font-family: 'Orbitron-Light';
        font-size: 0.75rem;
        &:hover,
        &:focus {
          background-color: #e6e6e6;
        }
      }
      a,
      span {
        padding: 7px 10px;
        color: #666;
        .fa-angle-right {
          margin: 2px 4px 0 0;
          font-size: 1.1rem;
          vertical-align: top;
        }
        @media (max-width: 767px) {
          white-space: normal;
          padding: 7px 20px;
        }
      }
      a.btn-unshare {
        color: #11c759;
        &:hover,
        &:focus,
        &:active {
          color: #018e39;
        }
      }
      &.dropdown-modifier {
        padding: 5px 0;
        overflow: hidden;
        overflow-y: auto;
      }
      &.dropdown-hiring {
        min-width: 320px;
        li {
          a {
            display: block;
            text-align: left;
            font-size: 0.875rem;
          }
        }
        @media (max-width: 767px) {
          min-width: inherit;
        }
      }
      @media (max-width: 767px) {
        @include box-shadow(none);
        margin: 0;
        border: 0;
      }
    }
    .navbar-toggler {
      cursor: pointer;
      &:focus,
      &:hover {
        outline: 0;
        color: #2db7f5;
        border-color: #2db7f5;
      }
      @media (max-width: 767px) {
        @include border-radius(3px);
        margin-top: 17px;
        float: right;
        border: 1px solid #ccc;
        padding: 0.5rem 0.75rem;
      }
    }
    .navbar-toggleable-sm {
      padding: 0;
      float: right;
      .nav {
        > .nav-item {
          position: relative;
          z-index: 10;
          padding: 0;
          margin-left: 10px;
          white-space: nowrap;
          .block-button {
            margin-left: 10px;
            @media (max-width: 767px) {
              margin: 0;
              padding: 0.8rem 1rem 0.4rem;
            }
            .btn-facebook {
              @media (max-width: 767px) {
                width: 100%;
              }
            }
          }
          > a {
            position: relative;
            padding: 1.3rem 1.3rem 0.5rem;
            min-height: 69px;
            color: #222;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 1rem;
            display: block;
            cursor: pointer;
            text-transform: uppercase;
            .fa-briefcase,
            .fa-list {
              font-size: 2.1rem;
            }
            .fa-chevron-circle-down {
              @include abs-pos ($top: 12px, $right: 16px, $bottom: auto, $left: auto);
              @include opacity(0);
              display: none;
              visibility: hidden;
              @media (max-width: 767px) {
                @include opacity(1);
                display: inline-block;
                visibility: visible;
              }
            }
            &::before {
              content: '';
              height: 100%;
            }
            &::after {
              @include opacity(0);
              @include transform(scale(.2));
              @include transition(all .25s ease-out);
              @include abs-pos ($top: 0, $right: 0, $bottom: 0, $left: 0);
              display: block;
              width: 100%;
              height: 100%;
              content: "";
              background-color: #fff;
              z-index: -1;
            }
            &:active::after {
              -webkit-animation: scale-in-center-alt .5s cubic-bezier(.25, .46, .45, .94) both;
              animation: scale-in-center-alt .5s cubic-bezier(.25, .46, .45, .94) both
            }
            &:hover,
            &:focus {
              color: #2db7f5;
              text-decoration: none;
              color: #2db7f5;
              .notifications-number {
                -moz-animation: none;
                -webkit-animation: none;
                -moz-animation-play-state: paused;
                -webkit-animation-play-state: paused;
              }
              &::after {
                @include opacity(1);
                @include transform(scale(1));
                @include transition(all .25s ease-out);
                background-color: #eaeaea;
              }
            }
            &,
            &:hover,
            &:focus {
              @include transition(all 0.2s ease-out 0s);
            }
            .fa {
              @include transition(all 0.4s ease);
            }
            .fa-briefcase,
            .fa-share-alt,
            .fa-list,
            .fa-users,
            .fa-sign-out,
            .fa-sign-in {
              @media (max-width: 767px) {
                font-size: 1rem;
                min-width: 26px;
              }
            }
            .nav-text {
              @include opacity(0);
              display: none;
              visibility: hidden;
              @media (max-width: 767px) {
                @include opacity(1);
                display: inline-block;
                visibility: visible;
              }
            }
            @media (max-width: 768px) {
              margin: 0.4375rem 0;
            }
            @media (max-width: 767px) {
              min-height: inherit;
              padding: 0.8rem 1rem 0.7rem;
              margin: 0;
            }
          }
          .notifications-hiring {
            @media (max-width: 767px) {
              color: #222;
            }
          }
          &.active,
          &.show {
            > a {
              color: #2db7f5;
              background-color: #ebebeb;
              .fa-chevron-circle-down {
                @include transform(rotate(180deg));
                @include transition(all 0.4s ease);
              }
              &::after {
                @include opacity(1);
                @include transform(scale(1));
                @include transition(all .25s ease-out);
                background-color: #eaeaea;
              }
            }
            .notifications-hiring {
              @media (max-width: 767px) {
                color: #2db7f5;
              }
            }
          }
          &::after {
            @include abs-pos ($top: auto, $right: 0, $bottom: 0, $left: 0);
            content: '';
            display: block;
            margin: auto;
            height: 3px;
            width: 0;
            background: transparent;
            transition: width .3s ease, background-color .5s ease;
            @media (max-width: 767px) {
              opacity: 0;
              display: none;
              visibility: hidden;
            }
          }
          &:hover:after,
          &.active:after,
          &.show:after {
            width: 100%;
            background-color: #2db7f5;
            @media (max-width: 767px) {
              opacity: 0;
              display: none;
              visibility: hidden;
            }
          }
          &:last-child {
            padding-right: 0;
            &:hover:after,
            &.active:after {
              width: 0;
              background: none;
              @media (max-width: 767px) {
                opacity: 0;
                display: none;
                visibility: hidden;
              }
            }
            @media (max-width: 767px) {
              border-bottom: 0;
            }
          }
          .btn-login {
            margin: 0.9375rem 0 0;
            .fa-sign-in {
              @media (max-width: 767px) {
                font-size: 1rem;
                min-width: 26px;
              }
            }
            @media (max-width: 767px) {
              margin: 0;
              padding: 0.8rem 1rem 0.7rem;
            }
          }
          @media (max-width: 990px) {
            padding: 0;
          }
          @media (max-width: 767px) {
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #e2e2e2;
          }
        }
        &.active,
        .show {
          > a {
            color: #2db7f5;
            background-color: #eaeaea;
          }
        }
      }
    }
    .logo {
      align-items: center;
      height: 51px;
      .iSrAXa {
        position: relative;
        margin: 21px 0 0 10px;
      }
      .stamp-logo {
        @include abs-pos ($top: 0px, $right: auto, $bottom: auto, $left: 0px);
        background: url('/static/images/demo.png') no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        @media (max-width: 690px) {
          display: none;
        }
      }
      .logo-image {
        margin-top: 0;
        vertical-align: top;
        width: 165px;
        height: 24px;
        @media (max-width: 690px) {
          display: none;
        }
      }
      .fSBjqc {
        -moz-animation: zoomInLogo 1.5s both;
        -webkit-animation: zoomInLogo 1.5s both;
        animation: zoomInLogo 1.5s both;
        /* -webkit-animation-duration: 8s; -webkit-animation-name: shakeIt; -webkit-animation-iteration-count: infinite; animation-duration: 8s; animation-name: shakeIt; animation-iteration-count: infinite; */
      }
      .fSBjqc,
      .dbtaox {
        margin-left: 0;
      }
      .fnsJiL {
        margin-top: 24px;
        @media (max-width: 340px) {
          display: none;
        }
      }
      .paragraph-smarter {
        vertical-align: top;
        margin: 0 0 0 10px;
        float: none;
        display: inline-block;
        color: #222;
        @media (max-width: 990px) {
          display: none;
        }
      }
    }
    .neal-mobile-nav {
      position: absolute;
      top: 62px;
      left: auto;
      right: 15px;
      z-index: 1001;
      padding: 0.4375rem 0;
      margin: 0;
      float: left;
      min-width: 150px;
      font-size: 14px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, .15);
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      &::after,
      &::before {
        bottom: 100%;
        right: 14px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &::after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 7px;
        margin-left: -7px;
      }
      &::before {
        border-color: rgba(204, 204, 204, 0);
        border-bottom-color: #cccccc;
        border-width: 8px;
        margin-left: -8px;
      }
      .btn-login {
        margin-top: 6px;
        color: #222;
        &,
        &:hover,
        &:focus {
          @include box-shadow(none);
          background: none;
          padding: 0;
          margin: 0.4375rem 0;
          font-weight: 700;
          font-size: 0.875rem;
          line-height: 1rem;
          border: 0;
          text-transform: uppercase;
        }
        &:hover,
        &:focus {
          color: #2db7f5;
        }
      }
      @media (max-width: 767px) {
        left: 15px;
      }
    }
    .account-dropdown {
      .account-dropdown__segment {
        padding: 0.5rem;
      }
      .dropdown-toggle {
        @include transition(all 0.2s ease-out 0s);
        padding: 1.1875rem 0.4rem 0.5rem;
        display: block;
        color: #222;
        text-decoration: none;
        cursor: pointer;
        min-height: 69px;
        img {
          @include border-radius(50%);
          -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          width: 33px;
          height: 33px;
        }
        &:hover,
        &:focus {
          color: #2db7f5;
          background-color: #eaeaea;
        }
        @media (max-width: 768px) {
          padding: 0;
        }
        @media (max-width: 767px) {
          opacity: 0;
          display: none;
          visibility: hidden;
        }
      }
      .link-logout-res {
        padding: 0.8rem 1rem 0.7rem;
        opacity: 0;
        display: none;
        visibility: hidden;
        color: #222;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1rem;
        text-transform: uppercase;
        .fa-sign-out {
          @media (max-width: 767px) {
            font-size: 1rem;
            min-width: 26px;
          }
        }
        &:hover,
        &:focus {
          @include transition(all 0.2s ease-out 0s);
          color: #2db7f5;
          text-decoration: none;
        }
        @media (max-width: 767px) {
          opacity: 1;
          display: block;
          visibility: visible;
        }
      }
      .dropdown-menu {
        li {
          white-space: nowrap;
        }
        a {
          white-space: nowrap;
          @media (max-width: 767px) {
            white-space: normal;
            padding: 10px 20px;
          }
        }
        a,
        .btn-logout {
          padding: 0.5rem;
        }
        .btn-logout {
          @include border-radius(0);
          margin: 0;
          display: block;
          border: 0;
          width: 100%;
          text-align: left;
        }
      }
      &::after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0;
        background: transparent;
        transition: width .3s ease, background-color .5s ease;
        @media (max-width: 767px) {
          opacity: 0;
          display: none;
          visibility: hidden;
        }
      }
      &:hover:after,
      &.active:after,
      &.show:after {
        width: 100%;
        background-color: #2db7f5;
        @media (max-width: 767px) {
          opacity: 0;
          display: none;
          visibility: hidden;
        }
      }
    }
  }
}

.sticky {
  .neal-navbar-wrapper {
    @include transform(translateY(-71px));
    @include opacity(0);
    visibility: hidden;
  }
}

.nav {
  .btn-addto {
    margin: 0.9375rem 0 0;
  }
}

.slideInDown {
  animation-name: slideInDown;
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-fill-mode: both;
}


/*animation logo*/

@-webkit-keyframes zoomInLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomInLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes shakeIt {
  0% {
    -webkit-transform: translate(-2px, 0) rotate(10deg);
    -ms-transform: translate(-2px, 0) rotate(10deg);
    transform: translate(-2px, 0) rotate(10deg);
  }
  10% {
    -webkit-transform: translate(2px, 0) rotate(-10deg);
    -ms-transform: translate(2px, 0) rotate(-10deg);
    transform: translate(2px, 0) rotate(-10deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0) rotate(10deg);
    -ms-transform: translate(-2px, 0) rotate(10deg);
    transform: translate(-2px, 0) rotate(10deg);
  }
  30% {
    -webkit-transform: translate(2px, 0) rotate(-10deg);
    -ms-transform: translate(2px, 0) rotate(-10deg);
    transform: translate(2px, 0) rotate(-10deg);
  }
  40% {
    -webkit-transform: translate(-2px, 0) rotate(10deg);
    -ms-transform: translate(-2px, 0) rotate(10deg);
    transform: translate(-2px, 0) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes shakeIt {
  0% {
    -webkit-transform: translate(-2px, 0) rotate(10deg);
    -ms-transform: translate(-2px, 0) rotate(10deg);
    transform: translate(-2px, 0) rotate(10deg);
  }
  10% {
    -webkit-transform: translate(2px, 0) rotate(-10deg);
    -ms-transform: translate(2px, 0) rotate(-10deg);
    transform: translate(2px, 0) rotate(-10deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0) rotate(10deg);
    -ms-transform: translate(-2px, 0) rotate(10deg);
    transform: translate(-2px, 0) rotate(10deg);
  }
  30% {
    -webkit-transform: translate(2px, 0) rotate(-10deg);
    -ms-transform: translate(2px, 0) rotate(-10deg);
    transform: translate(2px, 0) rotate(-10deg);
  }
  40% {
    -webkit-transform: translate(-2px, 0) rotate(10deg);
    -ms-transform: translate(-2px, 0) rotate(10deg);
    transform: translate(-2px, 0) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
  }
}

@-webkit-keyframes scale-in-center-alt {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: .2
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0
  }
}

@keyframes scale-in-center-alt {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: .2
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0
  }
}

@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
