/*************************************
**************************************
These are the styles for
the main-content section
**************************************
**************************************/

body {
  color: #404040;
}


/*-----container-----*/

.neal-page {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

.container {
  @media (min-width: 576px) {
    width: 100%;
  }
}


/*grid tab layout*/

.wrap-main {
  @include clearfix();
  height: 100%;
  background-color: #fff;
  .slidebar-nav {
    min-height: 100%;
    background-color: #fff;
    @media (max-width: 590px) {
      float: none;
      width: 100%;
    }
  }
  .main-content {
    padding: 0;
    background-color: #fff;
    .wrap-main {
      height: auto;
      background: none;
      &:before,
      &:after {
        content: "";
        display: none;
      }
      &:after {
        clear: none;
      }
    }
    @media (max-width: 590px) {
      margin-left: 0;
    }
  }
  &.wrap-toggle {
    .slidebar-nav {
      position: relative;
      z-index: 1000;
    }
  }
}

.main-inner {
  @include clearfix();
  padding: 0 15px;
  min-height: 100px;
}


/*------nprogress loading-----*/

#nprogress .bar,
#nprogress .spinner {
  z-index: 999999;
}
