/*************************************
**************************************
These are the styles for
the modal section
**************************************
**************************************/

.ReactModal__Overlay {
  z-index: 99999;
  animation: vex-fadein 0.5s;
  -webkit-animation: vex-fadein 0.5s;
  -moz-animation: vex-fadein 0.5s;
  -ms-animation: vex-fadein 0.5s;
  -o-animation: vex-fadein 0.5s;
  -webkit-backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.5) !important;
  -webkit-overflow-scrolling: touch;
}

.ReactModal__Content {
  animation: vex-flyin 0.5s;
  -webkit-animation: vex-flyin 0.5s;
  -moz-animation: vex-flyin 0.5s;
  -ms-animation: vex-flyin 0.5s;
  -o-animation: vex-flyin 0.5s;
  -webkit-backface-visibility: hidden;
}


/*modal bootstrap*/

.modal-body {
  @include opacity(0);
  background: transparent;
  -webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
  transition: transform 1.2s, opacity 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(0, 150px, 0);
  transform: translate3d(0, 150px, 0);
  overflow: hidden;
}

.modal-header {
  @include opacity(0);
  width: 100%;
  -webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
  transition: transform 1.2s, opacity 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

.modal-footer {
  @include opacity(0);
  width: 100%;
  -webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
  transition: transform 1.2s, opacity 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

.ReactModal__Content--after-open {
  .modal-header {
    @include opacity(1);
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .modal-body {
    @include opacity(1);
    pointer-events: auto;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .modal-footer {
    @include opacity(1);
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/*****Question Modal*****/

.QuestionModal {
  .ReactModal__Content {
    @include border-radius(6px);
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
    width: 300px;
    left: 50% !important;
    margin: -70px 0 0 -150px;
  }
}


/*****Sign In Modal*****/

.SignInModal {
  .ReactModal__Overlay {
    text-align: center;
    margin: 0 auto;
    background: none !important;
    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
  }
  .ReactModal__Content {
    @include transform(translateY(none));
    @include box-shadow(rgba(0, 0, 0, 0.15) 3px 3px 11px 1px);
    position: static !important;
    padding: 30px !important;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    border-color: #e1e2e6;
    background: rgba(242, 242, 242, 0.75) !important;
    overflow-y: auto !important;
    width: 100%;
    height: 300px;
    max-width: calc(100% - 50px);
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content;
    h2 {
      margin-bottom: 0.5rem;
      line-height: 2.1rem;
      text-align: center;
    }
    .paragraph-sign {
      margin-bottom: 1rem;
      font-size: 1rem;
      text-align: center;
    }
    .social-action {
      margin-top: 1.7rem;
      height: 150px;
      .block-button {
        margin-bottom: 15px;
      }
      .btn-social {
        width: 270px;
      }
    }
    @media (max-width: 590px) {
      padding: 20px 25px !important;
    }
    @media (max-width: 390px) {
      padding: 20px !important;
      max-width: calc(100% - 30px);
    }
  }
}


/*****Share Modal*****/

.ShareModal {
  .ReactModal__Overlay {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    margin: 0 auto;
    background: none !important;
    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
  }
  .ReactModal__Content {
    @include box-shadow(rgba(0, 0, 0, 0.15) 3px 3px 11px 1px);
    @include transform(translateY(none));
    position: static !important;
    display: inline-block;
    margin: 0 auto;
    padding: 0 !important;
    border-color: #e1e2e6;
    background: rgba(242, 242, 242, 0.75) !important;
    overflow-y: auto !important;
    width: 100%;
    min-width: 400px;
    max-height: calc(100% - 50px);
    max-width: calc(100% - 50px);
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content;
    @media (max-width: 590px) {
      max-width: calc(100% - 20px);
    }
    @media (max-width: 690px) {
      min-width: 560px;
    }
    @media (max-width: 500px) {
      min-width: 380px;
    }
    @media (max-width: 390px) {
      min-width: inherit;
    }
  }
  .share-modal-content {
    .modal-header {
      padding: 15px;
      border-bottom: 1px solid #e1e2e6;
      .modal-title {
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
      }
    }
    .modal-body {
      padding: 0;
    }
  }
  .modal-body {
    overflow-y: auto !important;
    max-height: calc(100% - 50px);
  }
}


/*****Install Modal*****/

.InstallModal {
  .ReactModal__Overlay {
    text-align: center;
    margin: 0 auto;
    background: none !important;
    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
  }
  .ReactModal__Content {
    @include box-shadow(rgba(0, 0, 0, 0.15) 3px 3px 11px 1px);
    @include transform(translateY(none));
    position: static !important;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0 !important;
    border-color: #e1e2e6;
    background: rgba(242, 242, 242, 0.75) !important;
    overflow-y: auto !important;
    width: 100%;
    min-width: 800px;
    max-height: calc(100% - 50px);
    max-width: calc(100% - 50px);
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content;
    @media (max-width: 590px) {
      max-width: calc(100% - 20px);
    }
    @media (max-width: 690px) {
      min-width: 560px;
    }
    @media (max-width: 500px) {
      min-width: 380px;
    }
    @media (max-width: 390px) {
      min-width: inherit;
    }
  }
  .install-modal-content {
    .modal-header {
      padding: 15px;
      border-bottom: 1px solid #e1e2e6;
      .modal-title {
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
      }
    }
    .modal-body {
      padding: 0;
      background-color: #fff;
    }
  }
  .install-description {
    padding: 3rem 2rem;
    text-align: center;
    h3 {
      color: #222;
      font-family: proxima-nova, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.2125em;
      margin: 0.2rem 0 1rem;
      text-rendering: optimizeLegibility;
      img {
        max-width: 120px;
      }
    }
    p {
      color: #3a2e2e;
      font-size: 1.125rem;
      line-height: 1.2;
      font-weight: 400;
      margin-bottom: 1.125rem;
      text-rendering: optimizeLegibility;
    }
    p,
    .btn-install {
      img {
        max-width: 90px;
      }
    }
  }
}


/*-----animation------*/

@keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes vex-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes vex-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes vex-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes vex-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes vex-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-webkit-keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-moz-keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-ms-keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-o-keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes vex-flyout {
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@-webkit-keyframes vex-flyout {
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@-moz-keyframes vex-flyout {
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@-ms-keyframes vex-flyout {
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@-o-keyframes vex-flyout {
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@keyframes vex-pulse {
  0% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
  70% {
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }
  100% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-webkit-keyframes vex-pulse {
  0% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
  70% {
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }
  100% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-moz-keyframes vex-pulse {
  0% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
  70% {
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }
  100% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-ms-keyframes vex-pulse {
  0% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
  70% {
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }
  100% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-o-keyframes vex-pulse {
  0% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
  70% {
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }
  100% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}
