@font-face {
    font-family: 'Orbitron Light';
    src: url('/static/fonts/Orbitron/Orbitron Light.eot');
    src: url('/static/fonts/Orbitron/Orbitron Light.woff2') format('woff2'), url('/static/fonts/Orbitron/Orbitron Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron-Light';
    src: url('/static/fonts/Orbitron/Orbitron-Light.woff') format('woff'), url('/static/fonts/Orbitron/Orbitron-Light.ttf') format('truetype'), url('/static/fonts/Orbitron/Orbitron-Light.svg#Orbitron-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
