{
  "presets": [
    "es2015-sans-regenerator",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-react-jsx-source",
    "transform-inline-environment-variables",
    "transform-decorators-legacy",
    ["lodash", { "id": ["lodash", "recompose"] }]
  ],
  "env": {
    "development": {
      "presets": [
        // "react-hmre"
      ]
    },
    "production": {
      "presets": []
    },
    "test": {
      "presets": []
    }
  }
}
