@import 'fonts/Roboto/font';
@import 'fonts/Courier New/font';
@import 'fonts/Orbitron/font';

body {
  letter-spacing: normal !important;
}

#maomao-extension-anchor {
  position: relative;
  z-index: 9999999999;
}

.maomao-ext-component {
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.eot');
    src: url('fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('fonts/Roboto/Roboto-Regular.woff') format('woff'), url('fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg'), url('fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'rokkittsemibold';
    src: url('fonts/Rokkitt/rokkitt-semibold.woff2') format('woff2'), url('fonts/Rokkitt/rokkitt-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  font-family: 'Roboto';
  position: relative;
  z-index: 9999999999;
  @import 'utils/all';
  @import 'base/all';
  @import 'components/all';
  @import 'themes/all';
}
