<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Maomao Extension</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <environment names="Development">
    <link rel="stylesheet" href="~/css/styles.css" />
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="~/css/styles.min.css" asp-append-version="true" />
  </environment>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/onkinoggpeamajngpakinabahkomjcmk">
</head>

<body>
  <header>
    <h2 style="font-family:'Rokkitt'; font-size:150px; color:'#999'; textShadow: '0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8)';">
      <img src="~/images/logo.png" />
      <a asp-area="" asp-controller="Extension" asp-action="Index" class="tlt">maomao</a>
    </h2>
    <nav>
      <li><a asp-area="" asp-controller="Extension" asp-action="Index">Home</a></li>
      <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
    </nav>
  </header>
  @RenderBody()
  <footer>
    <ul>
      <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
      <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
      <li><a href="#"><i class="fa fa-github-square"></i></a></li>
    </ul>
    <p>Made with love by <a href="http://maomao.rocks/" target="_blank">MaoMao</a>.</p>
  </footer>
  <environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/vue/dist/vue.js"></script>
    <script src="~/lib/vue-resource/dist/vue-resource.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
      asp-fallback-test="window.jQuery">
        </script>
    <script src="https://unpkg.com/vue/dist/vue.js" asp-fallback-src="~/lib/vue/dist/vue.min.js">
        </script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js" asp-fallback-src="~/lib/vue-resource/dist/vue-resource.min.js">
        </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/lib/letteringjs/jquery.lettering.js" asp-append-version="true"></script>
    <script src="~/lib/textillate/jquery.textillate.js" asp-append-version="true"></script>
  </environment>
  <script>
    $(function () {
        $('.tlt').textillate();
    });
  </script>
  @RenderSection("scripts", required: false)
</body>

</html>
