{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "rules": {
    "indent": 0
  },
  "env": {
    "browser": true
  },
  "globals": {
    "chrome": true
  }
}
