@{ ViewData["Title"] = "About"; Layout = "_LayoutExtension"; }
<section class="hero">
  <div class="background-image" style="background-image: url(images/hero.jpg);"></div>
  <h1>About us</h1>
  <h3>@ViewData["Message"]</h3>
  <p>Use this area to provide additional information.</p>
</section>
