// Generating headline
// Example: @include headline(10px, #232323);
// h1 {
//   @include headline($color: blue, $size: 12px);
// }
@mixin headline($size, $color: red) {
  color: $color;
  font-size: $size;
}
