@{ ViewData["Title"] = "Extension Page"; Layout = "_LayoutExtension"; } @section scripts {
<script>
        $(function() {
          function hasInstalledExtension() {
            var isInstalled = document.getElementById('maomao-extension-anchor') !== null || chrome.app.isInstalled;
            console.log('hasInstalledExtension',isInstalled);
            return isInstalled;
          }

          // single page app
          var mainApp = new Vue({
            el: '#app',
            data: {
              email: '',
              hasInstalled: hasInstalledExtension(),
            },
            watch: {
              hasInstalled: function(val) {
                console.log('change hasInstalled', val);
                this.hasInstalled = val;
              }
            },
            methods: {
              inlineInstall: function() {
                console.log('inlineInstall');
                chrome.webstore.install(
                  'https://chrome.google.com/webstore/detail/onkinoggpeamajngpakinabahkomjcmk',
                  onInstallSucess,
                  onFail);
              }
            }
          });

          function onInstallSucess() {
            mainApp.hasInstalled = true;
            document.getElementById('installBtn').style.display= 'none';
          }

          function onFail(err) {
            alert(err);
          }

          setTimeout(function(){ mainApp.hasInstalled = hasInstalledExtension(); }, 500);

        });
    </script> }

<section class="hero" id="app">
  <div class="background-image" style="background-image: url(images/hero.jpg);"></div>
  <h1>Your friend @Context.Request.Query["from"] has invited you to share his MaoMao stream...</h1>
  <h3>Install MaoMao now to view @Context.Request.Query["from"]’s stream!</h3>
  <a href="#" v-if="!hasInstalled" id="installBtn" v-on:click="inlineInstall" class="btn">Add to Chrome</a>
</section>

<section class="our-work">
  <h3 class="title">Some of our work</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar
    velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
  <hr>

  <ul class="grid">
    <li class="small" style="background-image: url(images/coast.jpg);"></li>
    <li class="large" style="background-image: url(images/island.jpg);"></li>
    <li class="large" style="background-image: url(images/balloon.jpg);"></li>
    <li class="small" style="background-image: url(images/mountain.jpg);"></li>
    </div>
</section>


<section class="features">
  <h3 class="title">Features and services</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar
    velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
  <hr>

  <ul class="grid">
    <li>
      <i class="fa fa-camera-retro"></i>
      <h4>Photography</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae pulvinar
        velit.
      </p>
    </li>
    <li>
      <i class="fa fa-cubes"></i>
      <h4>Web Development</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae pulvinar
        velit.
      </p>
    </li>
    <li>
      <i class="fa fa-newspaper-o"></i>
      <h4>Content Editing</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae pulvinar
        velit.
      </p>
    </li>
    </div>
</section>


<section class="reviews">
  <h3 class="title">What others say:</h3>

  <p class="quote">Mauris sit amet mauris a arcu eleifend ultricies eget ut dolor. Class aptent taciti sociosqu ad litora torquent per conubia
    nostra, per inceptos himenaeos.</p>
  <p class="author">— Patrick Farrell</p>

  <p class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar
    velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
  <p class="author">— George Smith</p>

  <p class="quote">Donec commodo dolor augue, vitae faucibus tortor tincidunt in. Aliquam vitae leo quis mi pulvinar ornare. Integer eu iaculis
    metus.
  </p>
  <p class="author">— Kevin Blake</p>

</section>


<section class="contact">
  <h3 class="title">Join our newsletter</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar
    velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
  <hr>

  <form>
    <input type="email" placeholder="Email">
    <a href="#" class="btn">Subscribe now</a>
  </form>
</section>
