@import url('https://fonts.googleapis.com/css?family=Rokkitt');
@import '~normalize.css';
@import '~neal-react/css/base';
@import '~react-placeholder/lib/reactPlaceholder';
@import 'fonts/Orbitron/font';
@import 'fonts/Courier New/font';
@import 'rc-steps/index';
@import 'rc-steps/iconfont';
@import 'core';
@import 'plugins';
@import 'mixins';
@import 'partials';
@import 'pages';

/* center container with CSS */

.grid {
  margin: 0 auto;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.notification-bar {
  z-index: 9999;
}


/* React Tags*/

div.ReactTags__tags {
  position: relative;
  padding-top: 4px;
}


/* Styles for the input */

div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  width: 100%;
}


/* Styles for selected tags */

div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  &:nth-child(6n) {
    background-color: #f44336;
  }
  &:nth-child(6n+1) {
    background-color: #607d8b;
  }
  &:nth-child(6n+2) {
    background-color: #795548;
  }
  &:nth-child(6n+3) {
    background-color: #009688;
  }
  &:nth-child(6n+4) {
    background-color: #4caf50;
  }
  &:nth-child(6n+5) {
    background-color: #8bc34a;
  }
}

div.ReactTags__selected a.ReactTags__remove {
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
}
