@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '~normalize.css';
@import '~neal-react/css/base';
@import '~react-placeholder/lib/reactPlaceholder';
$slick-font-path: "/static/vendors/fonts/";
@import 'slick-carousel/slick/slick.scss';
@import 'slick-carousel/slick/slick-theme.scss';
@import 'rc-steps/index';
@import 'rc-steps/iconfont';
@import 'core';
@import 'plugins';
@import 'mixins';
@import 'partials';
@import 'pages';


/* center container with CSS */

.grid {
  margin: 0 auto;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.notification-bar {
  z-index: 9999;
}


/* React Tags*/

div.ReactTags__tags {
  position: relative;
  padding-top: 4px;
}


/* Styles for the input */

div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  width: 100%;
}


/* Styles for selected tags */

div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  &:nth-child(6n) {
    background-color: #f44336;
  }
  &:nth-child(6n+1) {
    background-color: #607d8b;
  }
  &:nth-child(6n+2) {
    background-color: #795548;
  }
  &:nth-child(6n+3) {
    background-color: #009688;
  }
  &:nth-child(6n+4) {
    background-color: #4caf50;
  }
  &:nth-child(6n+5) {
    background-color: #8bc34a;
  }
}

div.ReactTags__selected a.ReactTags__remove {
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
}

.Resizer {
  background: #232323;
  opacity: .2;
  z-index: 1000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
cursor: not-allowed;
}
.Resizer.disabled:hover {
border-color: transparent;
}
